blog/n8n-workflow.json
{
  "name": "TechServJo — Blog Publisher (Enhanced)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "publish-blog-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n_webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "techservjo-blog-publish"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.body.title_en || $json.body.slug }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n_validate",
      "name": "Validate: Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Missing required fields: title_en (or slug), title_ar, content_ar, content_en, date\" }",
        "options": { "responseCode": 400 }
      },
      "id": "n_error_response",
      "name": "Respond: Missing Fields Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 480]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "salem-rub",
        "repository": "salem-rub.github.io",
        "filePath": "blog/post-template.html"
      },
      "id": "n_get_template",
      "name": "GitHub: Get Post Template",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [440, 300],
      "credentials": {
        "githubApi": {
          "id": "github_credential",
          "name": "GitHub Account"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const post = $('Webhook Trigger').first().json.body;\nconst templateB64 = $input.first().json.content;\nlet html = Buffer.from(templateB64, 'base64').toString('utf8');\n\nconst months=['يناير','فبراير','مارس','أبريل','مايو','يونيو','يوليو','أغسطس','سبتمبر','أكتوبر','نوفمبر','ديسمبر'];\nconst d = new Date(post.date || new Date());\nconst tags = Array.isArray(post.tags) ? post.tags : (post.tags||'').split(',').map(t=>t.trim()).filter(Boolean);\nconst slug = post.slug || (post.title_en||'').toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/(^-|-$)/g,'');\nconst postUrl = `https://techservjo.com/blog/posts/${slug}.html`;\n\nconst r = {\n  SLUG: slug,\n  LANG: 'ar', DIR: 'rtl',\n  TITLE_AR: post.title_ar||'',\n  TITLE_EN: post.title_en||'',\n  EXCERPT_AR: post.excerpt_ar||'',\n  EXCERPT_EN: post.excerpt_en||'',\n  CONTENT_AR: post.content_ar||'',\n  CONTENT_EN: post.content_en||'',\n  DATE: post.date || d.toISOString().split('T')[0],\n  DATE_FORMATTED_AR: `${d.getDate()} ${months[d.getMonth()]} ${d.getFullYear()}`,\n  DATE_FORMATTED_EN: d.toLocaleDateString('en-US',{year:'numeric',month:'long',day:'numeric'}),\n  IMAGE_URL: post.image_url||'https://images.unsplash.com/photo-1677442136019-21780ecad995?auto=format&fit=crop&q=80&w=800',\n  AUTHOR: post.author||'TechServJo Team',\n  CATEGORY: post.category||'general',\n  CATEGORY_AR: post.category_ar||'عام',\n  CATEGORY_EN: post.category_en||'General',\n  READ_TIME_AR: String(post.read_time||5),\n  READ_TIME_EN: String(post.read_time||5),\n  TAGS: tags.join(', '),\n  TAGS_HTML: tags.map(t=>`<a href=\"/blog/?search=${encodeURIComponent(t)}\">${t}</a>`).join('\\n'),\n  WHATSAPP_TEXT: encodeURIComponent(`${post.title_ar} - ${postUrl}`)\n};\n\nfor (const [k,v] of Object.entries(r)) html = html.replaceAll(`{{${k}}}`, v);\n\nconst postEntry = {\n  slug, title:{ar:post.title_ar,en:post.title_en},\n  excerpt:{ar:post.excerpt_ar,en:post.excerpt_en},\n  date: r.DATE, author: r.AUTHOR,\n  category: r.CATEGORY, tags,\n  image: post.image_url||'', lang:['ar','en'],\n  readTime:{ar:post.read_time||5,en:post.read_time||5}\n};\n\nreturn [{json:{slug, html, postEntry, postUrl, chatId: post.chatId||null}}];"
      },
      "id": "n_build_html",
      "name": "Code: Build HTML from Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=⏳ <b>جاري نشر المقال...</b>\n\n📝 {{ $json.postEntry.title.ar }}\n📎 {{ $json.postUrl }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "n_tg_publishing",
      "name": "Telegram: Status — Publishing",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 480],
      "credentials": {
        "telegramApi": { "id": "telegram_credential", "name": "Telegram Bot" }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": "salem-rub",
        "repository": "salem-rub.github.io",
        "filePath": "=blog/posts/{{ $json.slug }}.html",
        "fileContent": "={{ $json.html }}",
        "commitMessage": "=Add blog post: {{ $json.postEntry.title.en }}"
      },
      "id": "n_create_post",
      "name": "GitHub: Create Post HTML File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [880, 300],
      "credentials": {
        "githubApi": { "id": "github_credential", "name": "GitHub Account" }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "salem-rub",
        "repository": "salem-rub.github.io",
        "filePath": "blog/posts.json"
      },
      "id": "n_get_posts_json",
      "name": "GitHub: Get posts.json",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1100, 300],
      "credentials": {
        "githubApi": { "id": "github_credential", "name": "GitHub Account" }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const sha = $input.first().json.sha;\nconst index = JSON.parse(Buffer.from($input.first().json.content,'base64').toString('utf8'));\nconst newPost = $('Code: Build HTML from Template').first().json.postEntry;\nconst slug = $('Code: Build HTML from Template').first().json.slug;\nconst postUrl = $('Code: Build HTML from Template').first().json.postUrl;\nconst chatId = $('Code: Build HTML from Template').first().json.chatId;\nindex.posts.unshift(newPost);\nconst updatedStr = JSON.stringify(index, null, 2);\nreturn [{json:{sha, updatedStr, slug, postUrl, chatId, title_ar: newPost.title.ar, title_en: newPost.title.en}}];"
      },
      "id": "n_update_index",
      "name": "Code: Update posts.json Index",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "salem-rub",
        "repository": "salem-rub.github.io",
        "filePath": "blog/posts.json",
        "fileContent": "={{ $json.updatedStr }}",
        "commitMessage": "=Update blog index: add {{ $json.slug }}",
        "additionalParameters": {
          "sha": "={{ $json.sha }}"
        }
      },
      "id": "n_edit_posts_json",
      "name": "GitHub: Update posts.json",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1540, 300],
      "credentials": {
        "githubApi": { "id": "github_credential", "name": "GitHub Account" }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Code: Update posts.json Index').first().json.chatId }}",
        "text": "=✅ <b>تم نشر المقال بنجاح!</b>\n\n📰 <b>{{ $('Code: Update posts.json Index').first().json.title_ar }}</b>\n🔗 <a href=\"{{ $('Code: Update posts.json Index').first().json.postUrl }}\">{{ $('Code: Update posts.json Index').first().json.postUrl }}</a>\n\n⏱ سيكون متاحاً خلال ~2 دقيقة",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_web_page_preview": false
        }
      },
      "id": "n_tg_success",
      "name": "Telegram: Notify — Post Published",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1760, 300],
      "credentials": {
        "telegramApi": { "id": "telegram_credential", "name": "Telegram Bot" }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"slug\": \"{{ $('Code: Update posts.json Index').first().json.slug }}\", \"url\": \"{{ $('Code: Update posts.json Index').first().json.postUrl }}\", \"message\": \"Post published! Live in ~2 minutes.\" }",
        "options": {}
      },
      "id": "n_success_response",
      "name": "Respond: Webhook Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1760, 480]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Validate: Required Fields", "type": "main", "index": 0 }]]
    },
    "Validate: Required Fields": {
      "main": [
        [{ "node": "GitHub: Get Post Template", "type": "main", "index": 0 }],
        [{ "node": "Respond: Missing Fields Error", "type": "main", "index": 0 }]
      ]
    },
    "GitHub: Get Post Template": {
      "main": [[{ "node": "Code: Build HTML from Template", "type": "main", "index": 0 }]]
    },
    "Code: Build HTML from Template": {
      "main": [[
        { "node": "GitHub: Create Post HTML File", "type": "main", "index": 0 },
        { "node": "Telegram: Status — Publishing", "type": "main", "index": 0 }
      ]]
    },
    "GitHub: Create Post HTML File": {
      "main": [[{ "node": "GitHub: Get posts.json", "type": "main", "index": 0 }]]
    },
    "GitHub: Get posts.json": {
      "main": [[{ "node": "Code: Update posts.json Index", "type": "main", "index": 0 }]]
    },
    "Code: Update posts.json Index": {
      "main": [[{ "node": "GitHub: Update posts.json", "type": "main", "index": 0 }]]
    },
    "GitHub: Update posts.json": {
      "main": [[
        { "node": "Telegram: Notify — Post Published", "type": "main", "index": 0 },
        { "node": "Respond: Webhook Success", "type": "main", "index": 0 }
      ]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": ["blog", "github", "techservjo", "publisher"],
  "versionId": "2"
}
